// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*:before,
*:after {
   box-sizing: border-box;
}

form{
    width: 450px;
    font-size: 26px;
    background: #495C70;
    padding: 60px;
    border: 10px solid #53687E;
    margin: auto;
}